@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* Browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background */
  --Background: hsl(216, 12%, 8%);
  --contentBackground: hsl(215, 18%, 13%);
  --Radius: hsl(210, 5%, 16%);

  /* text */
  --Header: hsl(0, 0%, 100%);
  --paragraph: hsl(216, 12%, 54%);
  --submitBTN: hsl(25, 97%, 53%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Overpass', 'sans-serif';
  background: var(--Background);
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 430px;
  padding: 2rem;
  border-radius: 25px;
  background: var(--contentBackground);
}

div.imageContainer {
  text-align: center;
}

div.selected{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  margin-top: 1rem;
  background-color: var(--Radius);
}

div.selected p {
  color: var(--submitBTN);
}

div.container h2 {
  padding-top: 1rem;
  color: var(--Header);
}

div.container .paragraph {
  margin-top: 1rem;
  color: var(--paragraph);
}